%div.alert.alert-dismissible.fade.show{role: "alert", class: "alert alert-dismissable fade show #{alert_class(key)}"}
  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
    %span{"aria-hidden" => "true"} ×
  = message
